* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

html {
    font-size: 10px;
}

.container_fluid {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: #202020;
}

.container {
    width: 1140px;
    margin: 0 auto;
    /* background-color: #457; */
}

.row {
    width: 100%;
    height: 100%;
}

/* header  */
.header {
    width: 100%;
    height: 100px;
    background-color: #000;
}

.header_item {
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    height: 100px;
    /* background-color: #567; */
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu {
    width: 60%;
    height: 100px;
    /* background-color: #906; */
}

#checkbtn {
    position: absolute;
    right: 25px;
    top: 15px;
    display: none;
    cursor: pointer;
    font-size: 3rem;
    color: #AAD305;
}

#check {
    display: none;
}

.menu ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 1rem;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    padding: 1rem 1.8rem;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s all;
}

.menu ul li a:hover {
    background-color: #a9d305;
    color: #111;
    padding: 1rem 1.8rem;
    transition: 0.2s all;
}

.active2 {
    background-color: #a9d305 !important;
    color: #111 !important;
    padding: 1rem 1.8rem;
    font-weight: 700 !important;
}

/* header end */
/* service section */
.service-padding {
    padding: 6rem 0rem;
}

.service-content-div {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
    grid-template-rows: 420px;
}

.service-left-content {
    text-align: left;
    margin-top: 2rem;
}

.service-left-content h1 {
    color: #a9d305;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2rem;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.service-left-content h5 {
    color: #B5B5B5;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    padding-right: 2.5rem;
    font-weight: 400;
    word-spacing: 1px;
    margin-top: 2rem;
}

.service-left-content p {
    color: #B5B5B5;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 2.5rem;
    margin-top: 2rem;
    line-height: 2.6rem;
    font-weight: 400;
}

.service-right-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 230px 230px;
    margin-top: 2rem;
}

.service-right-img .img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/wp4755737.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-right-img .img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/photo-1572422867945-ed61ba9dd152.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* service section end */
/* price box */
.price-padding {
    padding: 6rem 0rem;
}

.price-div {
    width: 100%;
    /* background-color: chocolate; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;
    column-gap: 25px;
    padding-top: 3rem;
}

.price-heading h1 {
    color: #a9d305;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 3rem;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.price-heading h5 {
    color: #B5B5B5;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    padding-right: 2.5rem;
    font-weight: 400;
    word-spacing: 1px;
    margin-top: 2rem;
}

/* price1 */
.price-div .price1 {
    /* background-color: rgb(2, 66, 82); */
    border: 1px solid #a9d305;
    text-align: center;
    padding-top: 3rem;
}

.price-div .price1 h1 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1rem;
}

.price-div .price1 span {
    font-size: 1.6rem;
    color: #fff;
}

.price-div .price1 span.doller {
    font-size: 2.6rem;
    font-weight: 900;
    font-style: italic;
    color: #a9d305;
    padding-left: 0.5rem;
}

.price-div .price1 p {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: rgb(163, 163, 163);
    text-transform: capitalize;
    /* margin-bottom: 2rem; */
}

.price-div .price1 p:nth-child(7) {
    margin-bottom: 4rem;
}

.price-div .price1 a {
    text-decoration: none;
    color: #fff;
    background-color: #a9d305;
    padding: 1rem 3.5rem;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 700;
}

/* price 1 end */
/* price 2 */
.price-div .price2 {
    /* background-color: rgb(2, 66, 82); */
    border: 1px solid #a9d305;
    text-align: center;
    padding-top: 3rem;
}

.price-div .price2 h1 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1rem;
}

.price-div .price2 span {
    font-size: 1.6rem;
    color: #fff;
}

.price-div .price2 span.doller {
    font-size: 2.6rem;
    font-weight: 900;
    font-style: italic;
    color: #a9d305;
    padding-left: 0.5rem;
}

.price-div .price2 p {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: rgb(163, 163, 163);
    text-transform: capitalize;
}

.price-div .price2 p:nth-child(7) {
    margin-bottom: 4rem;
}

.price-div .price2 a {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 1px solid #a9d305;
    padding: 1rem 3.5rem;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 700;
    transition: 0.2s all;
}

.price-div .price2 a:hover {
    background-color: #a9d305;
    transition: 0.2s all;
}

/* price 2 end */
/* price 3 */
.price-div .price3 {
    /* background-color: rgb(2, 66, 82); */
    border: 1px solid #a9d305;
    text-align: center;
    padding-top: 3rem;
}

.price-div .price3 h1 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1rem;
}

.price-div .price3 span {
    font-size: 1.6rem;
    color: #fff;
}

.price-div .price3 span.doller {
    font-size: 2.6rem;
    font-weight: 900;
    font-style: italic;
    color: #a9d305;
    padding-left: 0.5rem;
}

.price-div .price3 p {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: rgb(163, 163, 163);
    text-transform: capitalize;
}

.price-div .price3 p:nth-child(7) {
    margin-bottom: 4rem;
}

.price-div .price3 a {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 1px solid #a9d305;
    padding: 1rem 3.5rem;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 700;
    transition: 0.2s all;
}

.price-div .price3 a:hover {
    background-color: #a9d305;
    transition: 0.2s all;
}

/* price 3 end */
/* price 4 */
.price-div .price4 {
    /* background-color: rgb(2, 66, 82); */
    border: 1px solid #a9d305;
    text-align: center;
    padding-top: 3rem;
}

.price-div .price4 h1 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1rem;
}

.price-div .price4 span {
    font-size: 1.6rem;
    color: #fff;
}

.price-div .price4 span.doller {
    font-size: 2.6rem;
    font-weight: 900;
    font-style: italic;
    color: #a9d305;
    padding-left: 0.5rem;
}

.price-div .price4 p {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: rgb(163, 163, 163);
    text-transform: capitalize;
}

.price-div .price4 p:nth-child(7) {
    margin-bottom: 4rem;
}

.price-div .price4 a {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 1px solid #a9d305;
    padding: 1rem 3.5rem;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 700;
    transition: 0.2s all;
}

.price-div .price4 a:hover {
    background-color: #a9d305;
    transition: 0.2s all;
}

/* price 4 end */
/* price box end */

/* footer */
.footer {
    width: 100%;
    height: 80px;
    background-color: #000000;
}

.footer_item {
    width: 40%;
    height: 80px;
    /* background-color: azure; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    /* margin-top: 3rem; */
}

.footer_item p {
    font-size: 1.5rem;
    color: #999;
    padding-top: 1rem;
}

.footer_item a {
    text-decoration: none;
    color: #a9d305;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0rem .5rem;
}

.footer_icons i {
    padding: 1rem 0.5rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.footer_icons i.fa-youtube {
    color: #f51c0d;
}

.footer_icons i.fa-facebook-square {
    color: #465993;
}

.footer_icons i.fa-instagram {
    color: #973b5c;
}

.footer_icons i.fa-google-plus-g {
    color: #ed4b39;
}

.footer_icons i.fa-twitter {
    color: #76a9ea;
}

.footer_icons i.fa-linkedin {
    color: #0078b7;
}

.footer_icons i.fa-pinterest {
    color: #931927;
}

/* footer end */

#check:checked~ul {
    left: 0;
    transition: 0.5s;
}
/* responsive */
/* tablet */
@media screen and (max-width:991px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }

    .header {
        width: 100%;
        height: 80px;
    }

    .logo img {
        width: 100%;
        height: 70px;
    }

    #checkbtn {
        display: block;
        font-size: 2.8rem;
    }

    .menu ul {
        width: 100%;
        height: 85vh;
        background-color: #000;
        display: block;
        text-align: center;
        position: absolute;
        top: 75px;
        left: -100%;
        transition: 0.5s;
        z-index: 1111;
    }

    .menu ul li {
        line-height: 6rem;
        margin-top: 1rem;
    }

    .service-content-div {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0rem 2rem;
        grid-template-rows: max-content;
    }

    .service-left-content {
        width: 100%;
        text-align: left;
    }

    .service-left-content h1 {
        font-size: 2.4rem;
    }

    .service-left-content h5 {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .service-left-content p {
        font-size: 1.4rem;
    }

    .service-right-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 220px;
        column-gap: 15px;
    }

    .price-heading {
        padding: 0rem 2rem;
    }

    .price-heading h1 {
        font-size: 2.4rem;
    }

    .price-heading h5 {
        font-size: 1.6rem;
    }

    .price-div {
        width: 100%;
        /* background-color: chocolate; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content;
        column-gap: 15px;
        row-gap: 30px;
        padding: 3rem 2rem 0rem 2rem;
    }

    .price-div .price1 {
        padding: 3rem 0rem;
    }

    .price-div .price2 {
        padding: 3rem 0rem;
    }

    .price-div .price3 {
        padding: 3rem 0rem;
    }

    .price-div .price4 {
        padding: 3rem 0rem;
    }

    .price-div .price1 h1 {
        font-size: 2rem;
    }

    .price-div .price1 span {
        font-size: 1.4rem;
    }

    .price-div .price1 span.doller {
        font-size: 3rem;
    }

    .price-div .price1 p {
        font-size: 1.4rem;
    }

    .price-div .price1 a {
        padding: 1rem 2.2rem;
        font-size: 1.4rem;
    }

    .price-div .price2 h1 {
        font-size: 2rem;
    }

    .price-div .price2 span {
        font-size: 1.4rem;
    }

    .price-div .price2 span.doller {
        font-size: 3rem;
    }

    .price-div .price2 p {
        font-size: 1.4rem;
    }

    .price-div .price2 a {
        padding: 1rem 2.2rem;
        font-size: 1.4rem;
    }

    .price-div .price3 h1 {
        font-size: 2rem;
    }

    .price-div .price3 span {
        font-size: 1.4rem;
    }

    .price-div .price3 span.doller {
        font-size: 3rem;
    }

    .price-div .price3 p {
        font-size: 1.4rem;
    }

    .price-div .price3 a {
        padding: 1rem 2.2rem;
        font-size: 1.4rem;
    }

    .price-div .price4 h1 {
        font-size: 2rem;
    }

    .price-div .price4 span {
        font-size: 1.4rem;
    }

    .price-div .price4 span.doller {
        font-size: 3rem;
    }

    .price-div .price4 p {
        font-size: 1.4rem;
    }

    .price-div .price4 a {
        padding: 1rem 2.2rem;
        font-size: 1.4rem;
    }

    .footer {
        width: 100%;
        /* height: 60px; */
    }

    .footer_item {
        width: 80%;
        /* height: 60px; */
        flex-flow: column wrap;
    }

    .footer_item p {
        font-size: 1.4rem;
        color: #999;
        padding-top: 1rem;
    }

    .footer_icons i {
        font-size: 1.4rem;
    }

}

/* mobile */
@media screen and (max-width:576px) {
    .container_fluid {
        width: 100%;
        min-width: 300px;
    }

    .container {
        width: 100%;
        min-width: 300px;
        margin: 0 auto;
    }

    .header {
        width: 100%;
        height: 70px;
    }

    .logo img {
        width: 100%;
        height: 60px;
    }

    #checkbtn {
        display: block;
        font-size: 2.8rem;
    }

    .menu ul {
        width: 100%;
        height: 85vh;
        background-color: #000;
        display: block;
        text-align: center;
        position: absolute;
        top: 75px;
        left: -100%;
        transition: 0.5s;
        z-index: 1111;
    }

    .menu ul li {
        line-height: 6rem;
        margin-top: 1rem;
    }

    .service-content-div {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0rem 2rem;
        grid-template-rows: max-content;
    }

    .service-left-content {
        width: 100%;
        text-align: left;
    }

    .service-left-content h1 {
        font-size: 2rem;
    }

    .service-left-content h5 {
        font-size: 1.4rem;
    }

    .service-left-content p {
        font-size: 1.2rem;
    }

    .service-right-img {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 260px;
    }

    .price-heading {
        padding: 0rem 2rem;
    }

    .price-heading h1 {
        font-size: 2rem;
    }

    .price-heading h5 {
        font-size: 1.4rem;
    }

    .price-div {
        width: 100%;
        /* background-color: chocolate; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content;
        column-gap: 15px;
        row-gap: 30px;
        padding: 3rem 2rem 0rem 2rem;
    }

    .price-div .price1 {
        padding: 3rem 0rem;
    }

    .price-div .price2 {
        padding: 3rem 0rem;
    }

    .price-div .price3 {
        padding: 3rem 0rem;
    }

    .price-div .price4 {
        padding: 3rem 0rem;
    }

    .price-div .price1 h1 {
        font-size: 1.5rem;
    }

    .price-div .price1 span {
        font-size: 1.0rem;
    }

    .price-div .price1 span.doller {
        font-size: 2rem;
    }

    .price-div .price1 p {
        font-size: 1.2rem;
    }

    .price-div .price1 a {
        padding: 1rem 2.2rem;
        font-size: 1rem;
    }

    .price-div .price2 h1 {
        font-size: 1.5rem;
    }

    .price-div .price2 span {
        font-size: 1.0rem;
    }

    .price-div .price2 span.doller {
        font-size: 2rem;
    }

    .price-div .price2 p {
        font-size: 1.2rem;
    }

    .price-div .price2 a {
        padding: 1rem 2.2rem;
        font-size: 1rem;
    }

    .price-div .price3 h1 {
        font-size: 1.5rem;
    }

    .price-div .price3 span {
        font-size: 1.0rem;
    }

    .price-div .price3 span.doller {
        font-size: 2rem;
    }

    .price-div .price3 p {
        font-size: 1.2rem;
    }

    .price-div .price3 a {
        padding: 1rem 2.2rem;
        font-size: 1rem;
    }

    .price-div .price4 h1 {
        font-size: 1.5rem;
    }

    .price-div .price4 span {
        font-size: 1.0rem;
    }

    .price-div .price4 span.doller {
        font-size: 2rem;
    }

    .price-div .price4 p {
        font-size: 1.2rem;
    }

    .price-div .price4 a {
        padding: 1rem 2.2rem;
        font-size: 1rem;
    }


    .footer {
        width: 100%;
        /* height: 60px; */
    }

    .footer_item {
        width: 100%;
        /* height: 60px; */
        flex-flow: row wrap;
        padding: 0rem 1rem;
    }

    .footer_item p {
        font-size: 1.2rem;
        color: #999;
        padding-top: 1rem;
    }

    .footer_icons i {
        font-size: 1.2rem;
    }
}