// header

.navbar-collapse {
  justify-content: flex-end !important;
  flex-grow: 0 !important;
}

.logo {
  text-decoration: none;
  h1 {
    font-size: 4.5rem;
    font-weight: 900;
    @extend %gradientText;
  }
}

.navbar {
  .nav-link {
    justify-content: center;
  }
  ul {
    list-style: none;
    display: flex;

    li {
      margin: 0 1.5rem;

      a {
        background: var(--menu-color);
        text-decoration: none;
        color: var(--title-color);
        padding: 0.8rem 1.5rem !important;
        text-transform: capitalize;
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 0.8rem;
        font-weight: 700;
        display: flex;
        align-items: center;

        &:hover {
          background-image: linear-gradient(
            to right,
            #dd2575 0%,
            #f7595c 51%,
            #dd2575 100%
          );
          background-size: 200% auto;
          color: #f4f4f4;
        }

        &.active {
          background-image: linear-gradient(
            to right,
            #dd2575 0%,
            #f7595c 51%,
            #dd2575 100%
          );
          background-size: 200% auto;
          color: #f4f4f4 !important;
        }
        i {
          padding-right: 0.6rem;
          font-size: 1.6rem;
        }
        i.bx-moon {
          padding-right: 0rem;
          font-size: 2.2rem;
        }
      }
    }
  }
}


@media screen and (max-width: 991px) {
  .navbar{
    ul{
      background-color: var(--primary-color);
    }
  }
}
