*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color:#dae2e5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clock-bg{
    width: 40%;
    height: 235px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 15px #7d8f9d91;
}
.digital-clock{
    width: 87%;
    height: 175px;
    padding: 1.8rem;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.time{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.hours, .minutes, .second{
    /* width: 100%; */
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #444;
    /* font-family: 'Carter One', cursive; */
}
.am-pm{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-left: 1.5rem;
    color: #444;
}
.icon{
    color: #b5b5b5;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-right: 1.5rem;
}
.dot{
    font-size: 3.5rem;
    font-family: 'Orbitron', sans-serif;
    /* margin-top: 20px; */
    margin: 10px 10px 0px;
    color: #444;
    font-weight: 700;
}
.day{
    width: 90%;
    display: flex;
    justify-content: space-evenly; 
}
.day span{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #a5a5a5;
}
.dmy span{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color:#a5a5a5;
}
.btm h1{
    margin-top: 2rem;
    font-size: 2.8rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #7d8f9d;
    font-family: 'Lobster', cursive;
}

@media screen and (min-width:769px) and (max-width:991px) {
    .clock-bg{
        width: 55%;
        height: 250px;
    }

    .hours, .minutes, .second{
        font-size: 50px;
    }

    .am-pm{
        font-size: 18px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .dot{
        font-size: 42px;
        margin: 4px 10px 0px;
    }
    .day{
        width: 100%;
    }
    .day span{
        margin-bottom: 5px;
    }
    .btm h1{
        margin-top: 20px;
        font-size: 36px;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .clock-bg{
        width: 85%;
        height: 250px;
    }

    .hours, .minutes, .second{
        font-size: 50px;
    }
    .am-pm{
        font-size: 18px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .dot{
        font-size: 42px;
        margin: 4px 10px 0px;
    }
    .day{
        width: 100%;
    }
    .day span{
        margin-bottom: 5px;
    }
    .btm h1{
        margin-top: 20px;
        font-size: 36px;
    }
}

@media screen and (max-width:480px) {
    .clock-bg{
        width: 95%;
        height: 250px;
    }
    .digital-clock{
        width: 87%;
        height: 190px;
    }
    .hours, .minutes, .second{
        font-size: 45px;
    }
    .am-pm{
        font-size: 18px;
        margin-top: 22px;
        margin-left: 10px;
    }
    .dot{
        font-size: 40px;
        margin: 4px 10px 0px;
    }
    .day{
        width: 100%;
    }
    .day span{
        margin-bottom: 5px;
    }
    .btm h1{
        margin-top: 20px;
        font-size: 32px;
    }
}

@media screen and (max-width:340px) {
    .hours, .minutes, .second{
        font-size: 36px;
    }
    .am-pm{
        font-size: 14px;
        margin-top: 15px;
        margin-left: 5px;
    }
    .dot{
        font-size: 30px;
        margin: 4px 10px 0px;
    }
    .day{
        width: 100%;
    }
    .day span{
        margin-bottom: 5px;
        font-size: 10px;
    }
    .btm h1{
        margin-top: 20px;
        font-size: 24px;
    }
}
